.produtos-moda {
    background-color: #BB86FC;
    color: #ffffff;
}

.produtos-casa {
    background-color: #00C4B4;
    color: #ffffff;
}

.produtos {
    background-color: #424250;
    color: #ffffff;
}

.item {
    padding: 5px;
}